.notification {
  position: fixed;
  display: inline-block;
  bottom: 2rem;
  right: 2rem;
  padding: var(--gap);
  color: #FFF;
  border-radius: var(--border-radius);
  opacity: 0;
  transition: opacity .6s;
}
.notification--active {
  opacity: 1;
}
.notification--info {
  background-color: #333;
}
.notification--success {
  background-color: var(--color-success);
}
.notification--warning {
  background-color: var(--color-warning);
}
.notification--danger {
  background-color: var(--color-danger);
}
