:host {
  display: block;
  --height: 3.2rem;
  --color-main: #333;
  --color-secondary: yellow;
}

.button {
  border-radius: var(--form-element-border-radius);
  padding: 0 1.6rem;
  height: var(--form-element-height, var(--height));
  background-color: var(--color-main-500, var(--color-main));
  border: none;
  color: #FFF;
  transition: opacity .3s;
  font-size: var(--font-size);
}
.button--secondary {
  background-color: var(--color-secondary-500, var(--color-secondary));
}
.button:hover {
  opacity: .8;
}
