:host {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 6rem;
  gap: var(--gap);
  padding: var(--gap-sm) var(--gap);
  background-color: var(--color-main-500);
  color: #FFF;
}
.header__start {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}
.header__logo {
  height: 3rem;
}
.header__title {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
}
